# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Python3 related
__pycache__

# Backup files
*~

# latex generated
*.log
*.out
*.aux
*.ind
*.idx
*.ilg

.DS_Store

# ignore data for demo, it is too big
demo-data

# ignore setup files
Antares.egg-info/
dist/
